<section class="block" id="about">
  <div class="block-head">
    <div class="block-num">01</div>
    <div class="block-title">/about.md</div>
  </div>

  <div class="codefile">
    <div class="codefile-head">
      <span>📄 about.ts</span>
      <span>typescript · utf-8</span>
    </div>

    <div class="codefile-body">
      <div class="cl"><span><span class="cmt">// who is this guy</span></span></div>
      <div class="cl"><span><span class="kw">import</span> { <span class="cls">DataScience</span>, <span class="cls">SoftwareEng</span> } <span class="kw">from</span> <span class="str">'./degrees'</span>;</span></div>
      <div class="cl"><span>&nbsp;</span></div>
      <div class="cl"><span><span class="kw">export class</span> <span class="cls">Ujjwal</span> <span class="kw">extends</span> <span class="cls">Human</span> {</span></div>
      <div class="cl"><span>&nbsp;&nbsp;<span class="kw">readonly</span> role     = <span class="str">'data &amp; software engineer'</span>;</span></div>
      <div class="cl"><span>&nbsp;&nbsp;<span class="kw">readonly</span> edu      = <span class="str">'MDS · University of Adelaide (2024)'</span>;</span></div>
      <div class="cl"><span>&nbsp;&nbsp;<span class="kw">readonly</span> prev     = <span class="str">'Software Engineer @ LTIMindtree'</span>;</span></div>
      <div class="cl"><span>&nbsp;&nbsp;<span class="kw">readonly</span> stack    = [<span class="str">'python'</span>, <span class="str">'java'</span>, <span class="str">'sql'</span>, <span class="str">'power-bi'</span>];</span></div>
      <div class="cl"><span>&nbsp;&nbsp;<span class="kw">readonly</span> location = <span class="str">'Adelaide, SA 🇦🇺'</span>;</span></div>
      <div class="cl"><span>&nbsp;&nbsp;coffee = <span class="num-lit">true</span>; <span class="cmt">// always</span></span></div>
      <div class="cl"><span>&nbsp;</span></div>
      <div class="cl"><span>&nbsp;&nbsp;<span class="fn">build</span>(data: <span class="cls">Dataset</span>): <span class="cls">Insight</span> {</span></div>
      <div class="cl"><span>&nbsp;&nbsp;&nbsp;&nbsp;<span class="kw">return</span> data</span></div>
      <div class="cl"><span>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;.<span class="fn">clean</span>()&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<span class="cmt">// etl + pandas</span></span></div>
      <div class="cl"><span>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;.<span class="fn">model</span>()&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<span class="cmt">// sklearn + nltk</span></span></div>
      <div class="cl"><span>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;.<span class="fn">validate</span>(<span class="num-lit">3</span>)&nbsp;<span class="cmt">// always 3 times somehow</span></span></div>
      <div class="cl"><span>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;.<span class="fn">ship</span>();</span></div>
      <div class="cl"><span>&nbsp;&nbsp;}</span></div>
      <div class="cl"><span>&nbsp;</span></div>
      <div class="cl"><span>&nbsp;&nbsp;<span class="fn">manifesto</span>() {</span></div>
      <div class="cl"><span>&nbsp;&nbsp;&nbsp;&nbsp;<span class="kw">return</span> <span class="hl"><span class="str">'write code future me wont curse at'</span></span>;</span></div>
      <div class="cl"><span>&nbsp;&nbsp;}</span></div>
      <div class="cl"><span>}</span></div>
    </div>
  </div>
</section>
